[Unit]
Description=Service to enable the C6 State on AMD Zen-based (Ryzen, Epyc) processors before sleep
DefaultDependencies=no
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/amd-disable-c6 --enable_c6

[Install]
WantedBy=sleep.target
