/results_*/
/*.src.rpm

/quick-xml-0.18.1.crate
/quick-xml-0.20.0.crate
/quick-xml-0.22.0.crate
/quick-xml-0.23.0.crate
/quick-xml-0.25.0.crate
/quick-xml-0.27.1.crate
/quick-xml-0.28.2.crate
/quick-xml-0.30.0.crate
/quick-xml-0.31.0.crate
/quick-xml-0.34.0.crate
/quick-xml-0.36.1.crate
/quick-xml-0.36.2.crate
/quick-xml-0.37.2.crate
/quick-xml-0.37.5.crate
/quick-xml-0.38.1.crate
/quick-xml-0.38.3.crate
/quick-xml-0.38.4.crate
